
/* custom bg */
.bg {
    background-image: url("../../assets/images/doctor.png");
    background-size: 100%;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    height: 700px;   
}

span {
    color : #3F79A8;
}

h1,p {
    line-height: 1.4;
}

@media screen and (max-width:990px) {
    header {
        overflow: hidden;
    }
    .hero {
        display: block;
        height: 700px;
    }
    .bg {  
        background-size: 100% 70%;
        width: 100%;
        position: absolute;
    }
}

@media screen and (max-width: 700px) {
    header {
        overflow: hidden;
    }
    .hero {
        display: block;
        height: 700px;
    }
    .bg {  
        background-size: 100% 70%;
        width: 100%;
        position: absolute;
    }
    .logo {
        width: 130px;
    }
    h1 {
        font-size: 20px;
        max-width: 300px;
        line-height: 1.5;
    }
    p {
        font-size: 12px;
        max-width: 300px;
        line-height: 1.5;
    }
}

@media screen and (max-width: 520px) {
    .header__integration {
        position: relative;
        top: -10px;
    }
    .btn_media {
        position: relative;
        bottom: 15px;
        gap: 5px;
    }
    .savoir {
        position: relative;
        top: 10px;
        left: 10px;
    }
    header {
        overflow: hidden;
    }
    .hero {
        display: block;
        height: 700px;
    }
    .bg {  
        background-size: 100% 65%;
        width: 100%;
        position: absolute;
    }
    .logo {
        width: 100px;
    }
    h1 {
        font-size: 20px;
        max-width: 300px;
        line-height: 1.5;
    }
    p {
        font-size: 12px;
        max-width: 300px;
        line-height: 1.5;
    }
}


