

<section class="container mx-auto relative mb-0 bg-white w-full">
    <div class="flex flex-row relative justify-between items-center">
        <div class="flex py-2 ">
            <img class="relative left-10" src="../../assets/images/logo.png" alt="logo">
        </div>
        <div class="flex gap-16 right-28 relative">

        <div class="flex">
            <app-navs
            title="À propos"
            item="lorem Ipsum"
            ></app-navs>
        </div>
        <div class="flex">
            <app-navs
            title="Spécialistes"
            item="lorem Ipsum"
            ></app-navs>
        </div>
        <div class="flex">
            <app-navs
            title="Patient"
            item="lorem Ipsum"
            ></app-navs>
        </div>
        <div class="flex">
            <app-navs
            title="Recherches fréquentes"
            item="lorem Ipsum"
            ></app-navs>
        </div>
    </div>
    </div>
    <div class="flex max-w-7xl mx-auto border-t-2 border-t-black   justify-between items-center flex-row my-5">
        <div class="flex mt-3 gap-[25rem] font-light justify-between text-xl px-3">
            <h1>© 2022 - 2023 - XtendPlex</h1>
            <h1>Informations légales</h1>
        </div>
        <div class="flex mt-3 justify-center items-start relative right-20 text-xl gap-5 cursor-pointer">
          <fa-icon [icon]="faHome"></fa-icon>
          <fa-icon [icon]="faHome"></fa-icon>
          <fa-icon [icon]="faHome"></fa-icon>
          <fa-icon [icon]="faHome"></fa-icon>
        </div>
    </div>
</section>
