

<section class="footer_container mx-auto relative mb-0 bg-white w-full">
    <div class="flex foot flex-row relative justify-between items-center">
        <div class="flex logo py-2 ">
            <img class="relative left-10" src="../../assets/images/logo.png" alt="logo">
        </div>
    <div class="flex tohide gap-16 right-28 relative">
        <div class="flex gid gap-14">
            <div class="flex">
                <app-navs
                title="À propos"
                item="lorem Ipsum"
                ></app-navs>
            </div>
            <div class="flex">
                <app-navs
                title="Spécialistes"
                item="lorem Ipsum"
                ></app-navs>
            </div>
        </div>
        <div class="flex gid gap-14">
            <div class="flex">
                <app-navs
                title="Patient"
                item="lorem Ipsum"
                ></app-navs>
            </div>
            <div class="flex">
                <app-navs
                title="Recherches fréquentes"
                item="lorem Ipsum"
                ></app-navs>
            </div>
        </div>

    </div>
    </div>
    <!--  border-t-2 border-t-black  -->
    <div class="flex copyright border-t-2 border-t-gray-400 max-w-7xl mx-auto gap-20 justify-center items-center flex-row my-5">
        <div class="flex  justify-center">
            <div class="flex gap-32 mt-3 footer_fonts font-light justify-center text-xl px-3">
                <h1>© 2022 - 2023 - XtendPlex</h1>
                <h1>Informations légales</h1>
            </div>
        </div>
        <div class="flex links">
            <div class="flex icons mb-4 mt-5 justify-center items-center relative right-30 text-xl gap-5 cursor-pointer">
                <fa-icon [icon]="['fab', 'stack-overflow']"></fa-icon>
                <fa-icon [icon]="faHome"></fa-icon>
                <fa-icon [icon]="faHome"></fa-icon>
                <fa-icon [icon]="faHome"></fa-icon>
              </div>
        </div>

    </div>
</section>
