

<section class=" faqsCards h-auto py-6 bg-white shadow-2xl mx-auto top-10 relative w-full">
    <div class="flex faqstopper justify-center flex-row items-center ">
        <div class="flex topper justify-between gap-[27rem]">
            <div class="flex fix justify-center items-center relative">
                <h1 class="text-2xl left-9 relative font-medium py-2">Questions médicale fréquemment posées</h1>
            </div>
            <div class="flex topper_content gap-2 justify-center">
                <div class="flex  flex-row">
                    <span class="flex flex-row justify-center items-center">
                        <fa-icon class="text-xl left-8 text-white relative" [icon]="faQuestion"></fa-icon>
                        <button class="uppercase font-medium text-white 
                        flex justify-center items-center
                        cursor-pointer py-1 h-[50px] pl-10 px-[40px] bg-lime-600 rounded-lg ">Poser un question
                        </button>
                    </span>
               
                </div>
                <div class=" searchBtn top-[7px] relative">
                    <app-button
                    text="rechercher"
                    color=" #3F79A8"
                    ></app-button>
                </div>
            </div>
        </div>

    </div>
    <div class="flex faqs flex-row rounded-lg mx-auto justify-center">
        <div class="flex cards flex-col">
            <div class="  py-2 my-5 mx-2 rounded-xl max-w-[400px] flex gap-2 border-2">
                <span class="flex hover::bg-white justify-center items-center">
                    <fa-icon class="icon text-2xl px-2 mx-3 py-2" [icon]="faHome"></fa-icon>
                    <app-faqs-material 
                    question="Question 1"
                    answer=" Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam illum magni voluptates, magnam iste repellat."
                    ></app-faqs-material>
                </span>
            </div>
            <div class=" py-2 my-5 mx-2 rounded-xl max-w-[400px] flex gap-4 border-2">
                <span class="flex justify-center items-center">
                    <fa-icon class="icon text-2xl px-2 mx-3 py-2" [icon]="faHome"></fa-icon>
                    <app-faqs-material
                    question="Question 2"
                    answer=" Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam illum magni voluptates, magnam iste repellat."
                    ></app-faqs-material>
                </span>
            </div>
            <div class=" py-2 my-5 mx-2 rounded-xl max-w-[400px] flex gap-4 border-2">
                <span class="flex justify-center items-center">
                    <fa-icon class="icon text-2xl px-2 mx-3 py-2" [icon]="faHome"></fa-icon>
                    <app-faqs-material
                    question="Question 3"
                    answer=" Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam illum magni voluptates, magnam iste repellat."
                    ></app-faqs-material>
                </span>
            </div>
        </div>
        <div class="flex toHide2 flex-col">
            <div class=" card-4 py-2 my-5 mx-2 rounded-xl max-w-[400px] flex gap-4 border-2">
                <span class="flex justify-center items-center">
                    <fa-icon class="icon text-2xl px-2 mx-3 py-2" [icon]="faHome"></fa-icon>
                    <app-faqs-material
                    question="Question 4"
                    answer=" Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam illum magni voluptates, magnam iste repellat."
                    ></app-faqs-material>
                </span>
            </div>
            <div class=" toHide py-2 my-5 mx-2 rounded-xl max-w-[400px] flex gap-4 border-2">
                <span class="flex justify-center items-center">
                    <fa-icon class="icon text-2xl px-2 mx-3 py-2" [icon]="faHome"></fa-icon>
                    <app-faqs-material
                    question="Question 5"
                    answer=" Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam illum magni voluptates, magnam iste repellat."
                    ></app-faqs-material>
                </span>
            </div>
            <div class=" toHide py-2 my-5 mx-2 rounded-xl max-w-[400px] flex gap-4 border-2">
                <span class="flex justify-center items-center">
                    <fa-icon class="icon text-2xl px-2 mx-3 py-2" [icon]="faHome"></fa-icon>
                    <app-faqs-material
                    question="Question 6"
                    answer=" Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam illum magni voluptates, magnam iste repellat."
                    ></app-faqs-material>
                </span>
            </div>
        </div>
        <div class="flex toHide  flex-col">
            <div class=" py-2 my-5 mx-2 rounded-xl max-w-[400px] flex gap-4 border-2">
                <span class="flex justify-center items-center">
                    <fa-icon class="icon text-2xl px-2 mx-3 py-2" [icon]="faHome"></fa-icon>
                    <app-faqs-material
                    question="Question 7"
                    answer=" Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam illum magni voluptates, magnam iste repellat."
                    ></app-faqs-material>
                </span>
            </div>
            <div class=" toHide py-2 my-5 mx-2 rounded-xl max-w-[400px] flex gap-4 border-2">
                <span class="flex justify-center items-center">
                    <fa-icon class="icon text-2xl px-2 mx-3 py-2" [icon]="faHome"></fa-icon>
                    <app-faqs-material
                    question="Question 8"
                    answer=" Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam illum magni voluptates, magnam iste repellat."
                    ></app-faqs-material>
                </span>
            </div>
            <div class=" toHide py-2 my-5 mx-2 rounded-xl max-w-[400px] flex gap-4 border-2">
                <span class="flex justify-center items-center">
                    <fa-icon class="icon text-2xl px-2 mx-3 py-2" [icon]="faHome"></fa-icon>
                    <app-faqs-material
                    question="Question 9"
                    answer=" Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam illum magni voluptates, magnam iste repellat."
                    ></app-faqs-material>
                </span>
            </div>
        </div>
       
    </div>
</section>