
.icon {
    color: #3F79A8;;
}

@media screen and (max-width:990px) {
    .faqs {
        top: 30rem;
        height: 600px;
    }
    .faqsCards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: relative;
        bottom: 30rem;
        margin-top: 30px;
    }
    .topper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .searchBtn {
        position: relative;
        left: 4rem;
        margin: 20px 0;
    }
    .topper_content {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        right: 0rem;
        bottom: 26rem;
        margin: 30px;
    }

    .cards {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card-4 {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (max-width:700px) {
    .faqs {
        top: 30rem;
        height: 700px;
    }
    .faqsCards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        bottom: 30rem;
        margin-top: 30px;
    }
    .topper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .toHide {
        display: none;
    }
    .searchBtn {
        position: relative;
        left: 4rem;
        margin: 20px 0;
    }
    .topper_content {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        right: 0rem;
        bottom: 26rem;
        margin: 30px;
    }

    .cards {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card-4 {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (max-width:520px) {
    .faqs {
        /* to fix? ??? material ui shit */
        display: none; 
        top: 30rem;
        height: 700px;
    }
    .faqsCards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        bottom: 30rem;
        margin-top: 30px;
    }
    .topper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .searchBtn {
        position: relative;
        left: 5rem;
        margin: 20px 0;
    }
    .header h1 {
        position: relative;
        font-size: 20px;
        left: 10px;
    }
    .topper_content {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        right: 0rem;
        bottom: 26rem;
        margin: 30px;
    }

    .cards {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card-4 {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}