<!-- container -->
<section class=" showcase overflow-hidden">
    <div class="flex  justify-center items-center">
        <div class="flex showcase__header uppercase justify-center items-center m-2 py-2">
            <!-- changed auto -->
            <h1 class="text-5xl font-bold py-2 my-4 relative ">comment trouver votre <span> médecin idéal</span></h1>
        </div>
    </div>
    <div class="flex showcase__cards justify-evenly relative ">
        <div class="flex cards flex-col justify-center items-center">
            <div class=" card opacity-40 scale-90 left-16 relative ">
                <app-card
                title="Etape 3"
                image="https://i.ibb.co/SXrd3qf/date.png" 
                pargraph="Choisissez quand souhaitez-vous avoir votre rendez-vous."
                btn="Suivant"
                ></app-card>
            </div>
        </div>
        <div class="flex">
            <div class="relative scale-100">
                <app-card
                title="Etape 1"
                image="https://i.ibb.co/qFRQpFs/search.png" 
                pargraph="Choisissez votre médecin ou la spécialité que vous souhaitez prendre rendez-vous."
                btn="Suivant"
                ></app-card>
            </div>
        </div>
        <div class="flex">
            <div class=" card-3 opacity-40 scale-90 right-16 relative">
                <app-card
                title="Etape 2"
                image="https://i.ibb.co/ZYvNsVT/location.png" 
                pargraph="Choisissez le lieu où vous souhaitez avoir le rendez-vous."
                btn="Suivant"
                ></app-card>
            </div>
        </div>
    </div>
 
   
</section>
