

<section class="mx-auto footer-cta  bg-white gap-20 flex justify-center relative py-10 my-10 shadow-2xl">
    <div class="flex cat justify-center">
        <div class="flex image justify-center items-start">
            <img class="px-6 relative mx-5" src="../../assets/images/phone.png" alt="phone image">
        </div>
        <div class="flex flex-col items-end">
            <h1 class="text-3xl font-medium py-2 mx-2 ">Nous vous protégeons, votre santé et vos données</h1>
            <p class=" text-end max-w-[600px] py-2 mx-2 text-xl">la sécurisation de vos données est notre priorité absolue, nous faisons ce qu'il faut pour protéger vos données personnelles et celles de vos patients.</p>
            <div class="app top-5 relative">
                <app-button
                text="Savoir plus"
                color="#3F79A8"
                ></app-button>
            </div>
        </div>
    </div>
</section>
