

<section class="mx-auto container py-10 mb-10 justify-center items-center  relative flex">
    <div class="flex flex-row justify-between items-center gap-64">
        <div class="flex items-center justify-center gap-10">
            <h1 class="text-3xl m-2 py-3 font-medium ">Vous avez une question ou une demande ?</h1>
            <p class="text-xl m-2 py-3 font-normal">N'hésitez pas à nous contacter.</p>
        </div>
        <div class="flex">
            <span class="flex flex-row justify-center items-center">
                <fa-icon class="text-xl left-8 text-white relative" [icon]="faExclamationCircle"></fa-icon>
                <button class="uppercase font-medium text-white 
                flex justify-center items-center
                cursor-pointer py-1 h-[50px] pl-10 px-[40px] bg-lime-600 rounded-lg ">Contactez-nous
                </button>
            </span>
        </div>
    </div>
</section>