

<section class="mx-auto security container py-10 mb-10 justify-center items-center  relative flex">
    <div class="flex security__content flex-row justify-between items-center gap-64">
        <div class="flex security__content-typo items-center justify-center gap-2">
            <h1 class="text-[1.7rem] px-1 max-w-2xl py-3 font-medium ">Vous avez une question ou une demande ?</h1>
            <p class="text-xl m-2 py-3 font-normal">N'hésitez pas à nous contacter.</p>
        </div>
        <div class="flex">
            <span class="flex mySpan flex-row justify-center items-center">
                <fa-icon class="icon text-3xl right-8 z-10 text-white relative" [icon]="faExclamationCircle"></fa-icon>
                <button class="uppercase font-medium text-white 
                flex justify-center items-center w-full
                cursor-pointer py-1 h-[50px] z-0 right-20 relative px-[70px] bg-lime-600 rounded-lg ">Contactez-nous
                </button>
            </span>
        </div>
    </div>
</section>