

<section class="container mx-auto h-[550px] overflow-hidden relative max-w-[1250px] flex justify-center items-center mb-10">
    <div class="flex justify-center items-center">
        <div class="flex flex-col items-start">
            <h1 class="text-2xl font-bold my-3 ">Vous êtes un médecin ?</h1>
            <p class="text-xl font-medium my-2">contactez-nous et nous nous occuperons de la création de votre compte.</p>
            <app-ptag text=" Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, amet."></app-ptag>
            <app-ptag text=" Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, amet."></app-ptag>
            <app-ptag text=" Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, amet."></app-ptag>
            <app-ptag text=" Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, amet."></app-ptag>
            <div class="relative top-14">
                <app-button
                text="contactez-nous"
                color="#3F79A8"
                ></app-button>
            </div>
           
        </div>
    </div>
    <div class="flex flex-row mx-3 ">
        <img class="px-5" src="../../assets/images/girl.png" alt="girl ilustration">
    </div>
</section>