@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    overflow: auto;
    padding: 30px;
}

.btn {
    display: inline-block;
    color: #fff;
    background: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}